//БЛОК ПРЕИМУЩЕСТВ

.advantages__header {
  padding: 33px 18px 17px;
  display: flex;
  flex-direction: column;
  gap: 37px;
}

.advantages__title {
  text-align: center;
}

.advantages__description {
  margin: 0;
  text-align: center;
}

.advantages__cards {
  display: flex;
  flex-direction: column;
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px 18px 46px;
}
