//БЛОК ПРЕИМУЩЕСТВ

.advantages__header {
  padding: 33px 18px 17px;
  display: flex;
  flex-direction: column;
  gap: 37px;

  @include tablet {
    padding: 48px 124px 55px;
    gap: 30px;
  }

  @include desktop {
    padding: 59px 358px 44px;
  }
}

.advantages__title {
  text-align: center;
}

.advantages__description {
  margin: 0;
  text-align: center;
}

.advantages__cards {
  display: flex;
  flex-direction: column;

  @include tablet {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 23px 18px 46px;

  @include tablet {
    grid-column: 1/-1;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
  }
}
