//КНОПКА

.button {
  border: none;
  cursor: pointer;
  font-family: $font-family-main;

  &--main {
    padding: 16px;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    background-color: $color-main;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: $color-dark-main;
    }

    &:active {
      background-color: $color-special-main;
      color: rgba($color-white, 0.3);
    }

    &:disabled {
      color: $color-white;
      background-color: $color-special-grey;
      pointer-events: none;
    }
  }
}
