//ОСНОВНАЯ НАВИГАЦИЯ

.main-navigation__list {
  @include reset-list();

  &--is-closed {
    display: none;
  }

  &--is-open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: $color-main;
  }
}

.main-navigation__item:not(:last-of-type) {
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.20);
}

.main-navigation__link {
  display: block;
  text-align: center;
  padding: 17px 0 12px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $color-white;
  text-transform: uppercase;
}

.main-navigation__toggle {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 22px;

  &::before {
    content: "";
    width: 23px;
    height: 22px;
  }

  &--default {
    &::before {
      mask: url("../img/icons/hamburger-menu.svg");
      background-color: $color-main;
    }
  }

  &--active {
    position: relative;
    z-index: 11;

    &::before {
      mask: url("../img/icons/cross.svg");
      background-color: $color-white;
    }
  }
}
