//ПОДВАЛ САЙТА

.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &--main {
    padding: 27px 82px;
  }

  &--index {
    padding: 41px 82px 33px;
  }

  @include tablet {
    padding: 36px 60px;
    flex-direction: row;
    justify-content: space-between;
  }

  @include desktop {
    padding: 36px 120px;
  }
}

.page-footer__text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: $color-black;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: $color-black;
  transition: color 0.3s ease;

  svg {
    fill: $color-black;
    transition: fill 0.3s ease;
  }

  &:hover {
    color: $color-main;

    svg {
      fill: $color-main;
    }
  }

  &:active {
    color: $color-additional-grey;

    svg {
      fill: $color-additional-grey;
    }
  }
}
