//ОБЩАЯ ОБЁРТКА

.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  @include desktop {
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
    background-color: $color-white;
  }
}
