//СТИЛИ ДЛЯ ОБЩИХ ЗАГОЛОВКОВ

.title {
  margin: 0;

  &--index {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-black;
  }

  &--main {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-black;
  }
}
