//ГЛОБАЛЬНЫЕ СТИЛИ

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $font-family-main;
  font-size: 14px;
  line-height: 21px;
  color: $color-text;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
