//ПЕРЕМЕННЫЕ

//ШРИФТЫ

$font-family-main: "PT-Sans", "Arial", sans-serif;

//ЦВЕТА

$color-white: #ffffff;
$color-black: #000000;
$color-main: #81b3d2;
$color-dark-main: #669ec0;
$color-special-main: #5496bd;
$color-text: #333333;
$color-grey: #eeeeee;
$color-special-grey: #e5e5e5;
$color-light-grey: #f2f2f2;
$color-dark-grey: #d6d6d6;
$color-additional-grey: #b3b3b3;
$color-brown: #766357;

//РАЗМЕРЫ ЭКРАНА

$desktop-width: 1200px;
$tablet-width: 768px;
$mobile-width-only: 767px;
