//ПЕРЕМЕННЫЕ

//ШРИФТЫ

$font-family-main: "PT-Sans", "Arial", sans-serif;

//ЦВЕТА

$color-white: #ffffff;
$color-black: #000000;
$color-main: #81b3d2;
$color-text: #333333;
$color-grey: #eeeeee;
$color-special-grey: #e5e5e5;
$color-light-grey: #f2f2f2;
